grupo12-p2-tads/.idea/**
grupo12-p2-tads/.gradle/**
grupo12-p2-tads/gradlew*
grupo12-p2-tads/gradle.bat
grupo12-p2-tads/build/**

cargaDeDatos/.idea/**
cargaDeDatos/.gradle/**
cargaDeDatos/gradlew*
cargaDeDatos/gradle.bat
cargaDeDatos/build/**


